/*====================
general - fonts/applies to more than one area
=====================*/

body {
	font-family: sans-serif;
	background: #ccc;
}

.hobbies h2,
.faveVideo h2,
.moreinfo h2 {
	font-size: 25px;
	color: #CCC;
}

.faveVideo,
.hobbies,
.moreinfo {
	padding: 15px 30px;
	border-bottom: 2px solid #CCC;
	margin-top: 0px;
	margin-bottom: 0px;
}

.idcard,
.hobbies,
.faveVideo,
.moreinfo,
.joke {
	background-color: #369;
	margin-left:10px;
	margin-right: 10px;
	width: 88%;
}

/*======================
Right and left divs
======================*/
.right,
.left {
	width: 50%;
	margin-top: 15px;
}

.right {
	float: right;
}

.left {
	float: left;
}

/*======================
Header
=======================*/
header {
	background-color: #036;
	font-size: 40px;
	color: #CCC;
	padding: 15px 25px;
}

/*=====================
ID card
======================*/
.idcard {
	height: 200px;
	padding: 30px;
	margin-bottom: 10px;
}

.idcard img {
	float: left;
	padding-right: 30px;
}

.idcard h1 {
	color: #CCC;
	font-size: 35px;
	padding-bottom: 10px;
	margin: 0;
	vertical-align: top;
}

.idcard h3 {
	color: #333;
	margin-top: 0;
	margin-bottom: 10px;
}

.email a,
.phone a {
	font-size: 20px;
	text-decoration: none;
	color: #D5A725;
	margin: 0;
	display: inline-block;
}

.email a:hover
.phone a:hover {
	color: #ffdead;
}

.foundicon-mail,
.foundicon-phone {
	color: #D5A725;
	padding-bottom: 15px;
	display: inline-block;
}

.contactdetails {
	height: 200px;
	width: 356px;
	float: right;
}

.contactdetails ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.contactdetails a {
	text-decoration: none;
}

.contactdetails i {
	margin-right: 10px;
}

/*==========================
social icons
==========================*/
.social {
	margin: 10px;
}

.social ul {
	padding: 0px;
	margin: 0px;
}

.social li {
	display: inline;
}

.facebook {
	background-color: #23476A;
}

.twitter {
	background-color: #00ABF0;
}

.google {
	background-color: #A92A24;
}

.linkedin {
	background-color: #000;
}

.facebook,
.twitter,
.google,
.linkedin {
	border-radius: 5px;
	border:none;
	width: 18%;
	height: 37px;
	margin-right: 1%;
}

i {
	color: #fff;
	font-size: 20px;
}

.facebook:hover,
.twitter:hover,
.google:hover,
.linkedin:hover {
	border: 1px solid #fff;
}


/*====================
hobbies
====================*/

.hobbies li {
	list-style: none;
	padding: 0;
}

.hobbies ul {
	padding:0;
}

/*====================
video
=====================*/

.faveVideo video {
	width: 100%;
}

/*=====================
More info
=======================*/

.moreinfo select, 
.moreinfo textarea,
.moreinfo table {
	margin-bottom: 10px;
}

.moreinfo label {
	font-size: 19px;
}

.moreinfo select {
	width:50%;
	margin-left: 20px;
}

.moreinfo textarea {
	font-size: 15px;
	resize: none;
}

.formbutton {
	display: block;
}

.moreinfo table {
	width: 75%;
}

.moreinfo form {
	margin:0;
}
/*======================
joke
======================*/

.joke {
	background-image:url(../img/jokebg.jpg);
	padding:25px 30px 25px;
	border-bottom: 2px solid #CCC;
	margin-top: 0;
	margin-bottom: 0;
}

.joke blockquote {
	font-size: 20px;
	font-style: italic;
	color: #CCC;
	background-color: rgba(0,0,0, .5);
}

/*=====================
footer
=====================*/

.footer {
	background: #036;
	clear: both;

}

.footer h2 {
	color:#CCC;
	padding:15px;
	text-align: right;
}

